<section class="component projects">
  <div class="component--header">
    <h3>Hexsphere Tasks</h3>
    <h2>Projects</h2>

    <button class="component--btn" (click)="toggleModal(true, 'new project')">
      New project
    </button>
  </div>

  <ng-scrollbar *ngIf="projects.length > 0" class="projects--scrollbar">
    <div class="projects--box">
      <app-project
        #project
        *ngFor="let project of projects"
        [project]="project"
      ></app-project>
    </div>
  </ng-scrollbar>

  <h1 *ngIf="projects.length < 1">No projects yet!</h1>
</section>
