:host {
  pointer-events: none;
  z-index: 1;

  width: 100%;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  .modal {
    pointer-events: all;

    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;

    background-color: rgba(166, 165, 173, 0.36);

    visibility: hidden;
    opacity: 0;

    transition: 320ms ease;
    transition-property: visibility, opacity;

    &.show {
      visibility: visible;
      opacity: 1;
    }

    &--box {
      display: grid;
      width: 58rem;

      background-color: var(--color-off-white);
      border-radius: 1.4rem;

      padding: 3.4rem 3.6rem;

      row-gap: 3rem;

      h3 {
        font-size: 3.4rem;
        font-weight: 600;
      }
    }

    &--form-box {
      display: grid;
      row-gap: 4rem;
    }

    &--input-row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4rem;
    }

    &--text-field {
      display: grid;
      row-gap: 1rem;

      label {
        font-size: 2rem;
        font-weight: 400;
        color: var(--color-spanish-gray);
      }

      input {
        width: 100%;
        height: 5.6rem;

        padding: 1.2rem 1.2rem;

        border: 2.2px solid var(--color-silver-metallic);
        border-radius: 1rem;

        font-family: inherit;
        font-size: 1.8rem;
        font-weight: 500;
        color: var(--color-independence);

        outline: none;

        transition: border 220ms ease;

        &[type="password"] {
          font-size: 1.2rem;
        }

        &:focus {
          border: 2.2px solid var(--color-independence);
        }
      }
    }

    &--btn-box {
      margin-top: 3.2rem;

      justify-self: end;

      display: grid;
      grid-auto-flow: column;
      column-gap: 2rem;
    }

    &--btn {
      cursor: pointer;

      display: block;

      padding: 1.8rem 3.6rem;

      border: none;
      border-radius: 1rem;
      background-color: var(--color-oxford-blue);

      font-family: inherit;
      font-size: 1.8rem;
      font-weight: 600;
      color: var(--color-off-white);

      outline: none;

      transition: 280ms ease;
      transition-property: transform, background-color, color;

      &:hover,
      &:focus {
        transform: translateY(-5px);

        background-color: var(--color-oxford-blue-light);
        color: var(--color-ghost-white);
      }

      &__alt {
        background-color: transparent;
        color: var(--color-independence);

        &:hover,
        &:focus {
          background-color: var(--color-ghost-white);
          color: var(--color-independence);
        }
      }

      &__left {
        justify-self: start;
      }

      &__text {
        justify-self: end;

        padding: 0;

        background-color: transparent;
        color: var(--color-independence);

        &:hover,
        &:focus {
          transform: translateY(-4px);

          background-color: transparent;
          color: var(--color-independence);
        }
      }
    }
  }
}
