<div class="sidebar" [class.mini]="mini">
  <div class="sidebar--header">
    <h2>Welcome back, <span>Elliana</span></h2>

    <button class="sidebar--btn sidebar--btn__icon" (click)="toggleSidebar()">
      <svg>
        <use *ngIf="mini" href="../../assets/img/caret-right.svg#caretRight" />
        <use *ngIf="!mini" href="../../assets/img/caret-left.svg#caretLeft" />
      </svg>
    </button>
  </div>

  <div class="sidebar--user-card">
    <img src="../../assets/img/user-img.png" alt="User Image" />

    <h4>Elliana Palacios</h4>
    <h5>QA Tester</h5>
  </div>

  <div class="sidebar--nav">
    <div
      class="sidebar--nav-item"
      routerLink="/dashboard"
      routerLinkActive="selected"
    >
      <svg>
        <use href="../../assets/img/dashboard.svg#dashboard"></use>
      </svg>
      <h3>Dashboard</h3>
    </div>

    <div
      class="sidebar--nav-item"
      routerLink="/calendar"
      routerLinkActive="selected"
    >
      <svg>
        <use href="../../assets/img/calendar.svg#calendar"></use>
      </svg>
      <h3>Calendar</h3>
    </div>

    <div
      class="sidebar--nav-item"
      routerLink="/projects"
      routerLinkActive="selected"
    >
      <svg>
        <use href="../../assets/img/projects.svg#projects"></use>
      </svg>
      <h3>Projects</h3>
    </div>

    <!-- TODO: Add dynamic links to projects when projects tab is selected -->

    <div
      class="sidebar--nav-item"
      routerLink="/tasks"
      routerLinkActive="selected"
    >
      <svg>
        <use href="../../assets/img/tasks.svg#tasks"></use>
      </svg>
      <h3>Tasks</h3>
    </div>

    <div
      class="sidebar--nav-item"
      routerLink="/account"
      routerLinkActive="selected"
    >
      <svg>
        <use href="../../assets/img/account.svg#account"></use>
      </svg>
      <h3>Account</h3>
    </div>
  </div>

  <button *ngIf="mini" class="sidebar--btn sidebar--btn__log-out">
    <svg>
      <use href="../../assets/img/sign-out.svg#signOut"></use>
    </svg>
  </button>
  <button *ngIf="!mini" class="sidebar--btn sidebar--btn__log-out">
    Log out
  </button>
</div>
