.sidebar {
  height: 100%;
  width: 36rem;

  padding: 3rem;

  display: grid;
  grid-template-rows: repeat(3, max-content) auto;
  row-gap: 4rem;

  background-color: var(--color-white);

  &.mini {
    padding: 3rem 0;
    padding-top: 3.6rem;

    width: 12rem;

    grid-template-rows: repeat(2, max-content) auto max-content;
    justify-items: center;
  }

  svg {
    fill: transparent;
    stroke: currentColor;
  }

  &--header {
    display: flex;
    justify-content: space-between;
    align-content: center;

    h2 {
      line-height: 3.1rem;
      max-width: 18rem;

      font-size: 2.6rem;
      font-weight: 600;
      color: var(--color-oxford-blue);
    }

    button {
      margin-top: 0.5rem;
    }

    svg {
      width: 2.8rem;
      height: 2.8rem;

      stroke-width: 2.6px;
    }
  }

  &.mini &--header {
    grid-row: 4 / 5;
    justify-self: center;
    align-self: end;
    justify-content: center;

    h2 {
      display: none;
    }

    button {
      width: 3.2rem;
      height: 3.2rem;
    }
  }

  &--user-card {
    padding: 1.5rem 2rem;

    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
    column-gap: 1.4rem;
    row-gap: 0.6rem;
    align-content: center;

    background-color: var(--color-cultured);
    border-radius: 1.2rem;

    img {
      grid-row: 1 / 3;

      width: 5rem;
      height: 5rem;

      border-radius: 50%;
    }

    h4 {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1;
    }

    h5 {
      font-size: 1.6rem;
      font-weight: 400;
      color: var(--color-silver-metallic);
      line-height: 1;
    }
  }

  &.mini &--user-card {
    justify-self: center;

    padding: 0;

    display: block;

    background-color: transparent;

    *:not(img) {
      display: none;
    }

    img {
      width: 6.8rem;
      height: 6.8rem;
    }
  }

  &--nav {
    display: grid;
    row-gap: 3rem;
  }

  &--nav-item {
    cursor: pointer;

    padding: 2rem 3rem;

    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 3rem;
    align-items: center;

    border-radius: 1rem;
    color: var(--color-oxford-blue);

    outline: none;

    transition: 260ms ease;
    transition-property: background-color, color, transform;

    &:hover,
    &:focus {
      background-color: var(--color-cultured);
      color: var(--color-independence);

      transform: translateY(-5px);
    }

    &.selected {
      background-color: var(--color-oxford-blue);
      color: var(--color-white);

      &:hover,
      &:focus {
        background-color: var(--color-oxford-blue-light);
        color: var(--color-ghost-white);
      }
    }

    h3 {
      font-size: 2.4rem;
      font-weight: 600;

      color: currentColor;
    }

    svg {
      width: 3.2rem;
      height: 3.2rem;

      stroke-width: 2.8px;
    }
  }

  &.mini &--nav-item {
    padding: 0;

    width: 7rem;
    height: 7rem;

    justify-self: center;
    grid-template-columns: auto;
    place-items: center;

    h3 {
      display: none;
    }

    svg {
      width: 3.8rem;
      height: 3.8rem;

      stroke-width: 3.4px;
    }
  }

  &--btn {
    cursor: pointer;

    outline: none;

    &__icon {
      width: 2.8rem;
      height: 2.8rem;

      border: none;
      background-color: transparent;

      svg {
        width: 100%;
        height: 100%;
      }

      transition: transform 240ms ease;

      &:hover,
      &:focus {
        transform: translateX(-4px);
      }
    }

    &__log-out {
      align-self: end;

      padding: 1.5rem 0;

      background-color: var(--color-white);
      border: none;
      border-radius: 1rem;
      box-shadow: 0 0 3.2rem 0 rgba(55, 61, 141, 0.1);

      font-family: inherit;
      font-size: 2.4rem;
      font-weight: 600;

      transition: transform 280ms ease;

      &:hover,
      &:focus {
        transform: translateY(-5px);
      }

      svg {
        width: 3.2rem;
        height: 3.2rem;

        stroke-width: 2.8px;
      }
    }
  }

  &.mini &--btn__icon {
    &:hover {
      transform: translateX(4px);
    }
  }

  &.mini &--btn__log-out {
    width: 6rem;
    height: 6rem;

    display: grid;
    place-items: center;
  }
}
