:root {
  // STYLE COLORS
  --color-white: #ffffff;
  --color-off-white: #fdfeff;
  --color-ghost-white: #f5f7fa;
  --color-cultured: #f5f6f8;
  --color-silver-metallic: #a6a5ad;
  --color-silver-metallic-alt: #a5a8b0;
  --color-spanish-gray: #8c9298;
  --color-independence-light: #5f6277;
  --color-independence: #4a4e68;
  --color-oxford-blue-light: #303552;
  --color-oxford-blue: #10142c;

  // THEME COLORS
  --color-maximum-yellow-red: #ffc142;
  --color-dark-slate-blue: #373d8d;
  --color-non-photo-blue: #a6def1;
  --color-red-salsa: #f35559;
  --color-malachite: #78de5e;
}
