@import "./variables";

@import "./component";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  cursor: default;
  user-select: none;

  font-family: system-ui, -apple-system, "Inter", "Segoe UI", sans-serif;
  color: var(--color-oxford-blue);
  font-weight: 300;
  line-height: normal;
}
