<section class="component dashboard">
  <div class="component--header">
    <h2>Dashboard</h2>
  </div>

  <div class="dashboard--sections-box">
    <div class="component--section component--section__recent-projects">
      <h3>Recently Viewed Projects</h3>

      <div class="dashboard--projects-box">
        <div class="dashboard--card dashboard--card__project">
          <span class="label-color"></span>

          <h4>Project name</h4>
          <span class="tasks">5</span>

          <button>
            <svg>
              <use href="../../../assets/img/menu.svg#menu"></use>
            </svg>
          </button>
        </div>

        <div class="dashboard--card dashboard--card__project">
          <span class="label-color"></span>

          <h4>Project name</h4>
          <span class="tasks">5</span>

          <button>
            <svg>
              <use href="../../../assets/img/menu.svg#menu"></use>
            </svg>
          </button>
        </div>

        <div class="dashboard--card dashboard--card__project">
          <span class="label-color"></span>

          <h4>Project name</h4>
          <span class="tasks">5</span>

          <button>
            <svg>
              <use href="../../../assets/img/menu.svg#menu"></use>
            </svg>
          </button>
        </div>

        <div class="dashboard--card dashboard--card__project">
          <span class="label-color"></span>

          <h4>Project name</h4>
          <span class="tasks">5</span>

          <button>
            <svg>
              <use href="../../../assets/img/menu.svg#menu"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="component--section component--section__upcoming">
      <h3>Upcoming Items</h3>

      <div class="dashboard--card dashboard--card__upcoming">
        <ng-scrollbar class="component--scrollbar">
          <div class="dashboard--scroll-grid-container">
            <div class="dashboard--date-section">
              <h4>
                <span class="relative-date">Today</span> -
                <span>April 23rd</span>
              </h4>

              <div class="dashboard--task-card">
                <button class="dashboard--task-btn dashboard--task-btn__check">
                  <svg>
                    <use
                      href="../../../assets/img/check-circle.svg#checkCircle"
                    ></use>
                  </svg>
                </button>

                <div class="dashboard--task-info">
                  <span class="label-color"></span>
                  <h4>Task name</h4>
                </div>

                <div class="dashboard--notice dashboard--notice__reminder">
                  <svg>
                    <use href="../../../assets/img/alarm.svg#alarm"></use>
                  </svg>

                  Reminder
                </div>

                <div class="dashboard--task-icons-box">
                  <button class="dashboard--task-btn dashboard--task-btn__icon">
                    <svg>
                      <use href="../../../assets/img/menu.svg#menu"></use>
                    </svg>
                  </button>
                </div>
              </div>

              <div class="dashboard--task-card">
                <button class="dashboard--task-btn dashboard--task-btn__check">
                  <svg>
                    <use
                      href="../../../assets/img/check-circle.svg#checkCircle"
                    ></use>
                  </svg>
                </button>

                <div class="dashboard--task-info">
                  <span class="label-color"></span>
                  <h4>Task name</h4>
                </div>

                <div class="dashboard--task-icons-box">
                  <button class="dashboard--task-btn dashboard--task-btn__icon">
                    <svg>
                      <use href="../../../assets/img/flag.svg#flag"></use>
                    </svg>
                  </button>

                  <button class="dashboard--task-btn dashboard--task-btn__icon">
                    <svg>
                      <use href="../../../assets/img/menu.svg#menu"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>

            <div class="dashboard--date-section">
              <h4>
                <span class="relative-date">Tomorrow</span> -
                <span>April 24th</span>
              </h4>

              <div class="dashboard--task-card">
                <button class="dashboard--task-btn dashboard--task-btn__check">
                  <svg>
                    <use
                      href="../../../assets/img/check-circle.svg#checkCircle"
                    ></use>
                  </svg>
                </button>

                <div class="dashboard--task-info">
                  <span class="label-color"></span>
                  <h4>Task name</h4>
                </div>

                <div class="dashboard--notice dashboard--notice__scheduled">
                  <svg>
                    <use href="../../../assets/img/calendar.svg#calendar"></use>
                  </svg>

                  Due date
                </div>

                <div class="dashboard--task-icons-box">
                  <button class="dashboard--task-btn dashboard--task-btn__icon">
                    <svg>
                      <use href="../../../assets/img/menu.svg#menu"></use>
                    </svg>
                  </button>
                </div>
              </div>

              <div class="dashboard--task-card">
                <button class="dashboard--task-btn dashboard--task-btn__check">
                  <svg>
                    <use
                      href="../../../assets/img/check-circle.svg#checkCircle"
                    ></use>
                  </svg>
                </button>

                <div class="dashboard--task-info">
                  <span class="label-color"></span>
                  <h4>Task name</h4>
                </div>

                <div class="dashboard--task-icons-box">
                  <button class="dashboard--task-btn dashboard--task-btn__icon">
                    <svg>
                      <use href="../../../assets/img/flag.svg#flag"></use>
                    </svg>
                  </button>

                  <button class="dashboard--task-btn dashboard--task-btn__icon">
                    <svg>
                      <use href="../../../assets/img/menu.svg#menu"></use>
                    </svg>
                  </button>
                </div>
              </div>

              <div class="dashboard--task-card">
                <button class="dashboard--task-btn dashboard--task-btn__check">
                  <svg>
                    <use
                      href="../../../assets/img/check-circle.svg#checkCircle"
                    ></use>
                  </svg>
                </button>

                <div class="dashboard--task-info">
                  <span class="label-color"></span>
                  <h4>Task name</h4>
                </div>

                <div class="dashboard--notice dashboard--notice__scheduled">
                  <svg>
                    <use href="../../../assets/img/calendar.svg#calendar"></use>
                  </svg>

                  Due date
                </div>

                <div class="dashboard--task-icons-box">
                  <button class="dashboard--task-btn dashboard--task-btn__icon">
                    <svg>
                      <use href="../../../assets/img/flag.svg#flag"></use>
                    </svg>
                  </button>

                  <button class="dashboard--task-btn dashboard--task-btn__icon">
                    <svg>
                      <use href="../../../assets/img/menu.svg#menu"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-scrollbar>
      </div>
    </div>

    <div class="component--section component--section__calendar">
      <h3>Calendar</h3>

      <div class="dashboard--card dashboard--card__calendar">
        <div class="dashboard--calendar-header">
          <h4>{{ monthName }}</h4>

          <div class="dashboard--month-nav">
            <button (click)="previousMonth()">
              <svg>
                <use href="../../../assets/img/arrow-left.svg#arrowLeft"></use>
              </svg>
            </button>

            <button (click)="nextMonth()">
              <svg>
                <use
                  href="../../../assets/img/arrow-right.svg#arrowRight"
                ></use>
              </svg>
            </button>
          </div>
        </div>

        <div class="dashboard--calendar-days">
          <div *ngFor="let day of calendar" class="dashboard--calendar-day">
            <span
              class="date"
              [class.current-month]="day.getMonth() === today.getMonth()"
              [class.current-day]="
                day.getDate() === today.getDate() &&
                day.getMonth() === today.getMonth()
              "
              >{{ day.getDate() }}</span
            >
            <span class="tasks-due hide"></span>
          </div>
        </div>

        <!-- <div class="dashboard--calendar-days">
          <div class="dashboard--calendar-day">
            <span class="date">28</span>
            <span class="tasks-due hide"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date">29</span>
            <span class="tasks-due"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date">30</span>
            <span class="tasks-due"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date">31</span>
            <span class="tasks-due hide"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">1</span>
            <span class="tasks-due hide"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">2</span>
            <span class="tasks-due"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">3</span>
            <span class="tasks-due hide"></span>
          </div>

          <div class="dashboard--calendar-day">
            <span class="date current-month">4</span>
            <span class="tasks-due"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">5</span>
            <span class="tasks-due"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">6</span>
            <span class="tasks-due hide"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">7</span>
            <span class="tasks-due"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">8</span>
            <span class="tasks-due"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">9</span>
            <span class="tasks-due hide"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">10</span>
            <span class="tasks-due"></span>
          </div>

          <div class="dashboard--calendar-day">
            <span class="date current-month">11</span>
            <span class="tasks-due hide"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">12</span>
            <span class="tasks-due"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">13</span>
            <span class="tasks-due hide"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">14</span>
            <span class="tasks-due"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">15</span>
            <span class="tasks-due hide"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">16</span>
            <span class="tasks-due"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">17</span>
            <span class="tasks-due"></span>
          </div>

          <div class="dashboard--calendar-day">
            <span class="date current-month">18</span>
            <span class="tasks-due hide"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">19</span>
            <span class="tasks-due"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">20</span>
            <span class="tasks-due"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">21</span>
            <span class="tasks-due hide"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">22</span>
            <span class="tasks-due hide"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month current-day">23</span>
            <span class="tasks-due"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">24</span>
            <span class="tasks-due hide"></span>
          </div>

          <div class="dashboard--calendar-day">
            <span class="date current-month">25</span>
            <span class="tasks-due"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">26</span>
            <span class="tasks-due hide"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">27</span>
            <span class="tasks-due hide"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">28</span>
            <span class="tasks-due"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">29</span>
            <span class="tasks-due hide"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date current-month">30</span>
            <span class="tasks-due hide"></span>
          </div>
          <div class="dashboard--calendar-day">
            <span class="date">1</span>
            <span class="tasks-due"></span>
          </div>
        </div> -->
      </div>
    </div>

    <div class="component--section component--section__stats">
      <div class="dashboard--card dashboard--card__stats">
        <div class="dashboard--stat">
          <span>260</span>
          <h5>projects</h5>
        </div>
        <div class="dashboard--stat">
          <span>1240</span>
          <h5>tasks</h5>
        </div>
        <div class="dashboard--stat">
          <span>1130</span>
          <h5>tasks completed</h5>
        </div>
      </div>
    </div>
  </div>
</section>
